<section class="our-story-main-wrapper">
    <div class="our-story-inner page-width">
        <div class="main-wrapper-story">
            <div class="left-title-our-story">
                {% if section.settings.metaTitle %}
                <h5 class="meta-title">{{ section.settings.metaTitle }}</h5>
                {% endif %}
                {% if section.settings.title %}
                    <h1>{{ section.settings.title }}</h1>
                {% endif %}
            </div>
            <div class="right-main-story-content">
                {% if section.settings.text %}
                    {{section.settings.text}}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="story-image-banner page-width mobile-none-page-width">
        {% if section.settings.image %}
            <img src="{{ section.settings.image | img_url:"master" }}" title="image" />
        {% endif %}
    </div>
    </section>
    {% schema %}
    {
        "name": "Our Story",
        "settings":[
        {
            "type": "text",
            "id": "metaTitle",
            "label": "Meta Title",
            "default": "Our Story"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "About Capable Clothing"
        },
        {
            "type": "richtext",
            "id":"text",
            "label": "Main text",
            "default": "<p>With years of caring for patients who live with spinal cord injuries, founder Temeka Norris RN witnessed many who faced sustaining skin breakdowns by developing skin ulcers, all due to clothing. It was through her experience of being hands-on with patients and what they have endured through the challenges of fitting into clothes, that inspired the Capable Clothing brand in 2011.</p>"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        }
        ],
        "presets":[
            {
                "name": "Our Story",
                "category": "page"
            }
        ]
    }
    {% endschema %}