<h1>I am from our story</h1>
{% schema %}
{
    "name": "Our Story",
    "settings":[],
    "presets":[
        {
            "name": "Our Story",
            "category": "page"
        }
    ]
}
{% endschema %}