.page-title {
  margin-top: 0;
}

.main-page-title {
  margin-bottom: 3rem;
}

@media screen and (min-width: 750px) {
  .main-page-title {
    margin-bottom: 4rem;
    margin-top: 4rem;
  }
}

.page-placeholder-wrapper {
  display: flex;
  justify-content: center;
}

.page-placeholder {
  width: 52.5rem;
  height: 52.5rem;
}

/* ul custom */
.rte .icon-text-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  justify-content: space-between;
  gap: 20px 10px;
}
.rte .icon-text-list li {
  list-style: none;
  width: calc(50% - 10px);
  background: #F7F7F7;
  padding: 25px;
  padding-right: 0;
}
.rte .icon-text-list li>a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.rte .icon-text-list li a>img {
  margin: 0;
  border: none;
}
.rte .icon-text-list li span {
  margin-left: 20px;
  font-weight: 600;
  letter-spacing: -0.01em;
}
@media (max-width: 749px) {
  .rte .icon-text-list li {
    width: 100%;
  }
}