.testimonial-main .title {
    font-size: 48px;
    line-height: 130%;
    text-align: center;
    letter-spacing: -0.03em;
    color: #000201;
}
.testimonial {
    text-align:center;
    margin:4rem 0;
}
.authoricon img { 
    display:inline !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.stars img {
    display:inline-block !important;
}
.testimonial .fa {
    color:#FE0D0E;
}
.testimonial .description {
    font-style: italic;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #0E1C2C;
}
.testimonial .authorname {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #0E1C2C;
}
.testimonial-main .slick-slide {
    margin: 0 40px;
}
.testimonial-main .slick-list {
    margin: 0 -40px;
}
.slick-dots li button:before {
    color: #FE0D0E !important;
    width:15px !important;
    height:15px !important;
}
.slick-dots li button {
    width:15px !important;
    height:15px !important;
}
.slick-dots li.slick-active button:before {
    opacity:1 !important;
    color: #FE0D0E !important;
}
.slick-dots li {
    margin:0 !important;
    width:15px !important;
    height:15px !important;
}
.leftarrow {
    display: block;
    position: absolute;
    bottom: -55px;
    z-index:9999;
    cursor:pointer;
    left: 36%;
}
.rightarrow {
    display: block;
    position: absolute;
    cursor:pointer;
    bottom: -55px;
    z-index:9999;
    right: 36%;
}