.special-testimonial .top-wrapper {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 60px;
}
.special-testimonial .top-wrapper .h1 {
    margin: 0;
    margin-top: 10px;
    font-size: 32px;
}
.special-testimonial .content-image {
    position: relative;
    width: calc(100% / 3);
}
.special-testimonial .content-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.special-testimonial .content-text {
    width: calc((100% / 3) * 2);
    padding: 60px;
}
.special-testimonial .flex {
    display: flex;
    align-items: center;
}
.special-testimonial .author {
    font-weight: bold;
}
@media (max-width: 749px) {
    .special-testimonial .top-wrapper {
        padding-top: 70px;
        padding-bottom: 40px;
    }
    .special-testimonial .flex {
        flex-direction: column;
    }
    .special-testimonial .content-image {
        width: calc(100% + 3rem);
    }
    .special-testimonial .content-text {
        width: 100%;
    }
    .special-testimonial .content-text {
        padding: 25px 0 40px;
    }
}